ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	--padding: 0 !important;

	//--padding-top: 0 !important;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}
}

ion-header {
	backdrop-filter: saturate(120%) blur(10px);
	margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;

	}
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	overflow: hidden;
position: relative;
	z-index: 999;

	ion-item {
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		min-height: unset;
		--padding-start: 0;
		--background: var(--transparent);
		width: calc(100% - 30px);
		margin: 0 auto;
		overflow: hidden;
		border-radius: 9px;
		margin-bottom: 15px;

		.item_container {
			position: relative;
			width: 100%;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--dark);
				opacity: .8;

			}

			.item_header {
				position: relative;
				z-index: 99;
				padding: 15px 15px;

				h2 {
					margin: 0;
					color: var(--white);
					font-size: 1.15rem;

					ion-icon {
						color: var(--secondary);
						font-size: 1.4rem;
					}
				}

				ion-radio {
					margin-top: 0;
					margin-bottom: 0;
					--color-checked: var(--secondary);
				}
			}

			.address {
				background: var(--white);
				width: 100%;
				position: relative;
				overflow-x: 99;
				border-radius: 9px;
				padding: 13px 15px;
				padding-bottom: 3px;

				p {
					margin: 0;
					color: var(--text-dark);
					font-size: .96rem;
					margin-bottom: 14px;
				}

			}
		}
	}
}


ion-footer {
	background: var(--white);
	border-radius: 10px 10px 0 0px;
	padding-top: 15px;

	.amount {
		h2 {
			margin: 0;
			color: var(--primary);
			font-weight: 700;
			font-size: 1.2rem;
			letter-spacing: 0;
			width: calc(100% - 48px);
			margin: 0 auto;
			margin-bottom: 11px;

			span {
				color: #000;
			}
		}
	}

	.button.btn {
		font-size: 1.15rem;
		font-weight: 800;
		height: 66px;

		ion-icon {
			font-size: 2rem;
			min-width: 41px;
		}
	}
}