<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Select Delivery Address</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<ion-list lines="none">
		<ion-radio-group>
			<ion-item>
				<div class="item_container">
					<div class="item_header d-flex">
						<h2>Home</h2>
						<ion-radio value="1" class="end"></ion-radio>
					</div>
					<div class="address">
						<p>105, Sliver Perl Housings, Golden Tower<br> Near City Part, Washington DC, <br> United States of America</p>
						<p>+1 987 654 3210</p>
					</div>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_container">
					<div class="item_header d-flex">
						<h2>Farm House</h2>
						<ion-radio value="2" class="end"></ion-radio>
					</div>
					<div class="address">
						<p> B 441, Old city town, Leminton Street<br> Near City Part, Washington DC, <br> United States of America</p>
						<p>+1 987 654 3210</p>
					</div>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_container">
					<div class="item_header">
						<h2 class="d-flex">Add New Address <ion-icon class="end ion-text-end zmdi zmdi-plus-circle"></ion-icon>
						</h2>
					</div>
				</div>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>

<ion-footer>
	<div class="amount">
		<h2 class="d-flex">Amount Payable <span class="end">$25.50</span></h2>
	</div>

	<ion-button expand="full" no class="btn ion-text-uppercase ion-no-margin" (click)="continue()">
		Proceed To Checkout
		<ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
	</ion-button>
</ion-footer>