<ion-header class="bg_transparent">
	<ion-toolbar >
		<ion-title>Sign in <span class="ion-text-uppercase end ion-float-end" (click)="goTosignup()">Sign Up Now</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<div class="banner">
		<img src="assets/img/logo.png">
	</div>
	<h2 text-center>Sign in now</h2>
	<div class="form">
		<div class="list">
			<ion-item >
				<ion-label position="floating">Email Address</ion-label>
				<ion-input type="email" value="samanthasmith@mail.com"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password" value="123456"></ion-input>
				<h3 slot="end">Forgot?</h3>
			</ion-item>

			<ion-button expand="block" class="btn ion-text-uppercase" (click)="goTohome()">Sign in</ion-button>
		</div>
	</div>

	<div class="or_continue_with">
		<h2 text-center>Or Continue with</h2>
		<ion-row>
			<ion-col size="6">
				<ion-button expand="block" fill="outline" class="btn ion-text-capitalize" (click)="goTohome()"> 
					<ion-icon slot="start" class="zmdi zmdi-facebook"></ion-icon>
					Facebook
				</ion-button>
			</ion-col>

			<ion-col size="6">
				<ion-button expand="block" fill="outline" class="btn ion-text-capitalize" (click)="goTohome()">
					<ion-icon slot="start" class="zmdi zmdi-google"></ion-icon>
					Google
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>