ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;

}

ion-header ion-toolbar ion-title .end {
	color: var(--secondary);
	letter-spacing: .5px;
}

.banner {
	padding-top: 26%;
	padding-bottom: 26%;

	img {
		width: 139px;
		display: block;
		margin: 0 auto;
	}
}

h2 {
	margin: 0;
	color: var(--primary-text);
	font-size: 1.1rem;
	font-weight: 500;
	margin-bottom: 40px;
}

.or_continue_with {
	display: block;
	margin: 0 auto;
	width: calc(100% - 43px);
	margin-top: 15%;

	h2 {
		margin-bottom: 23px;
	}

	ion-row {
		margin: 0 -5px;

		ion-col {
			.button.btn.button-outline {
				font-weight: 400;
				font-size: .95rem;
			}
		}
	}
}