ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;

	&::after {
		content: '';
		position: absolute;
		top: -54px;
		left: 0;
		width: 100%;
		height: 154%;
		background: var(--primary);
		opacity: .8;

	}
}

.banner {
	color: var(--white);
	padding: 27px 15px 50px 15px;
	position: relative;
	z-index: 99;

	.banner_img {
		margin: 0 auto;
		width: 205px;
		padding-bottom: 27px;
	}

	h1 {
		margin: 0;
		font-size: 2rem;
		font-weight: 600;
		margin-bottom: 14px;
	}

	p {
		margin: 0;
		font-size: 1.15rem;
		font-weight: 400;
	}

}


ion-list {
	background: var(--transparent) !important;
	width: calc(100% - 30px);
	margin: 0 auto;
	position: relative;
	z-index: 99;

	h2 {
		font-size: 1rem;
		color: var(--primary-text);
		margin: 0;
		margin-bottom: 20px;
	}

	.order_details {
		padding: 22px 22px;
		background: var(--white);
		border-radius: 9px;
		margin-bottom: 10px;

		h2 {
			padding: 0;
			color: var(--text-light);
			margin-bottom: 25px;

			span {
				color: var(--balck);
			}

			&:last-child {
				margin-bottom: 5px;
			}
		}

		.delivery_address {
			margin-bottom: 20px;

			h2 {
				margin-bottom: 15px;
			}

			p {
				margin: 0;
				font-size: .95rem;
				color: var(--balck);
				font-weight: 500;
			}
		}
	}

	.button.btn {
		height: 61px;
		--border-radius: 9px;
		font-size: 1.15rem;
		font-weight: 800;
	}
}