<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-title></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<div class="banner ion-text-center">
		<div class="banner_img">
			<img src="assets/img/order_confirmed.png">
		</div>
		<h1>Hey, Samantha</h1>
		<p>Your Order is confirmed !</p>
	</div>
	<ion-list lines="none">
		<div class="order_details">
			<h2 class="d-flex">Your Order Number <span class="end">CCDF145412</span></h2>

			<div class="delivery_address">
				<h2 class="d-flex">Delivery Address <span class="end">Home</span></h2>
				<p>105, Sliver Perl Housings, Golden Tower<br> Near City Part, Washington DC, <br> United States of America</p>
			</div>
			<h2 class="d-flex">Total Amount Paid <span class="end">$ 25.50</span></h2>
			<h2 class="d-flex">Amount Paid via<span class="end">PayU Money</span></h2>
		</div>
		<ion-button expand="block" class="btn ion-text-uppercase" (click)="goTohome()">Track Order</ion-button>
	</ion-list>
</ion-content>