<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>
			Marina Rise Restaurant
			<span class="end ion-float-end">
				<ion-icon class="zmdi zmdi-search ion-text-end"></ion-icon>
			</span>
		</ion-title>
	</ion-toolbar>

	<ion-segment [(ngModel)]="tab" scrollable>
		<ion-segment-button value="diet_food">
			<img src="assets/img/ic_veg.png">
			<ion-label>
				Diet Food  
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="Chinese">
			<img src="assets/img/ic_chinese.png">
			<ion-label>
				Chinese
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="italian">
			<img src="assets/img/ic_pizza.png">
			<ion-label>
				Italian
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="sea_food">
			<img src="assets/img/ic_fish.png">
			<ion-label>
				Sea Food
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="ice_cream">
			<img src="assets/img/ic_icecream.png">
			<ion-label>
				Ice Cream
			</ion-label>
		</ion-segment-button>

	</ion-segment>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<div class="tab_container" [ngSwitch]="tab">
		<ion-list lines="none" *ngSwitchCase="'italian'">
			<ion-card [ngClass]="faqExpand1 ? 'active' : '' " (click)="faqExpandToggle1()">
				<h2 class="d-flex">Italian Pizza <span class="end">34 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Crust Gourmet Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>250gm</span>
									<span>1 Person</span>
									<span>25 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option selected value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Capricciosa Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>750gm</span>
									<span>3 Person</span>
									<span>50 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option selected value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>

			<ion-card [ngClass]="faqExpand2 ? 'active' : '' " (click)="faqExpandToggle2()">
				<h2 class="d-flex">Italian Rice <span class="end">22 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Crust Gourmet Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>250gm</span>
									<span>1 Person</span>
									<span>25 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option selected value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Capricciosa Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>750gm</span>
									<span>3 Person</span>
									<span>50 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option selected value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>

			<ion-card [ngClass]="faqExpand3 ? 'active' : '' " (click)="faqExpandToggle3()">
				<h2 class="d-flex">Italian Pizza <span class="end">34 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Crust Gourmet Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>250gm</span>
									<span>1 Person</span>
									<span>25 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option selected value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Capricciosa Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>750gm</span>
									<span>3 Person</span>
									<span>50 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option selected value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>

			<ion-card [ngClass]="faqExpand4 ? 'active' : '' " (click)="faqExpandToggle4()">
				<h2 class="d-flex">Pesce Items <span class="end">29 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Crust Gourmet Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>250gm</span>
									<span>1 Person</span>
									<span>25 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option selected value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Capricciosa Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>750gm</span>
									<span>3 Person</span>
									<span>50 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option selected value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>

			<ion-card [ngClass]="faqExpand5 ? 'active' : '' " (click)="faqExpandToggle5()">
				<h2 class="d-flex">Verdura <span class="end">29 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Crust Gourmet Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>250gm</span>
									<span>1 Person</span>
									<span>25 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option selected value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Capricciosa Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>750gm</span>
									<span>3 Person</span>
									<span>50 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option selected value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>

			<ion-card [ngClass]="faqExpand6 ? 'active' : '' " (click)="faqExpandToggle6()">
				<h2 class="d-flex">Carne <span class="end">31 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Crust Gourmet Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>250gm</span>
									<span>1 Person</span>
									<span>25 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option selected value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Capricciosa Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>750gm</span>
									<span>3 Person</span>
									<span>50 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_3.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option value="m">Medium</ion-select-option>
										<ion-select-option selected value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>
		</ion-list>

		<ion-list lines="none" *ngSwitchCase="'diet_food'">
			<ion-card [ngClass]="faqExpand7 ? 'active' : '' " (click)="faqExpandToggle7()">
				<h2 class="d-flex"> Diet Food <span class="end">1 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>
				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>
		</ion-list>

		<ion-list lines="none" *ngSwitchCase="'Chinese'">
			<ion-card [ngClass]="faqExpand8 ? 'active' : '' " (click)="faqExpandToggle8()">
				<h2 class="d-flex">Chinese <span class="end">1 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>
				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>
		</ion-list>

		<ion-list lines="none" *ngSwitchCase="'sea_food'">
			<ion-card [ngClass]="faqExpand9 ? 'active' : '' " (click)="faqExpandToggle9()">
				<h2 class="d-flex"> Sea Food <span class="end">1 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>
				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>
		</ion-list>

		<ion-list lines="none" *ngSwitchCase="'ice_cream'">
			<ion-card [ngClass]="faqExpand10 ? 'active' : '' " (click)="faqExpandToggle10()">
				<h2 class="d-flex"> Icecream <span class="end">1 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>
				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>
			<ion-card [ngClass]="faqExpand11 ? 'active' : '' " (click)="faqExpandToggle11()">
				<h2 class="d-flex"> Chinese<span class="end">2 items <ion-icon class="zmdi zmdi-chevron-down"></ion-icon></span></h2>
				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>

				<ion-item>
					<div class="container">
						<div class="item_detail d-flex">
							<div class="text_box">
								<h3>Margherita Pizza</h3>
								<p>Sauce tomate, mozzarella, souf Chilly, starawberry, etc.</p>
								<h4 class="d-flex">
									<span>500gm</span>
									<span>2 Person</span>
									<span>30 min</span>
								</h4>
							</div>
							<div class="img_box center_img end">
								<img src="assets/img/pizza_2.png" class="crop_img">
							</div>
						</div>
						<div class="choose_box">
							<ion-row>
								<ion-col size="5" class="d-flex">
									<ion-label>Size</ion-label>
									<ion-select placeholder="Select One">
										<ion-select-option selected value="m">Medium</ion-select-option>
										<ion-select-option value="l">Large</ion-select-option>
										<ion-select-option value="s">Small</ion-select-option>
									</ion-select>
								</ion-col>

								<ion-col size="3">
									<h5 class="ion-text-center">
										$ 11.50
									</h5>
								</ion-col>

								<ion-col size="4">
									<div class="add_remove_box ion-float-end">
										<span>-</span>
										<strong>0</strong>
										<span>+</span>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-item>
			</ion-card>
		</ion-list>
	</div>
</ion-content>

<ion-footer>
	<ion-button expand="full" no class="btn ion-text-uppercase ion-no-margin d-flex" (click)="continue()">
		<small>$11.50 (1items)</small>
		<strong class="end">
			Confirm Order
			<ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
		</strong>
	</ion-button>
</ion-footer>