ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	--padding: 0 !important;
	//--padding-top: 0 !important;

}

ion-header {
	backdrop-filter: saturate(120%) blur(10px);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;

	}

	ion-toolbar ion-title {

		ion-icon {
			font-size: 1.5rem;
			min-width: 28px;
			position: relative;
			top: 6px;
		}
	}

	ion-segment {
		border: none !important;
		position: relative;
		min-height: 56px;

		ion-segment-button {
			background: none !important;
			position: relative;
			font-size: .9rem;
			font-weight: 500;
			height: 100px;
			color: var(--primary-text) !important;
			text-transform: unset !important;
			letter-spacing: 0;
			--border-color: var(--transparent) !important;

			img {
				display: block;
				width: 43px;
				transition: all .5s;
			}

			ion-label {
				position: absolute;
				margin: 0;
				width: 100%;
				text-align: center;
				bottom: 0;

				&.active {
					&::before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background: var(--secondary);
						z-index: 99;
						opacity: .5;
					}
				}
			}



			&.segment-button-checked {
				font-weight: 500;
				color: var(--secondary) !important;

				img {
					width: 60px;
					transition: all .5s;

				}
			}
		}

	}
}

ion-list {
	background: var(--transparent) !important;
	padding: 0 !important;
	margin-top: 8px;
	width: calc(100% - 00px);


	ion-card {
		margin: 0;
		width: 100%;
		border-radius: 0;
		position: relative;
		overflow: hidden;
		box-shadow: none;
		margin-bottom: 10px;
		backdrop-filter: saturate(120%) blur(10px);
		padding: 18px 14px;
		padding-bottom: 0;
		height: 56px;
		overflow: hidden;
		transition: all .5s;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--primary);
			opacity: .2;

		}

		h2 {
			margin: 0;
			position: relative;
			z-index: 99;
			color: var(--secondary);
			font-size: 1rem;
			padding-bottom: 18px;

			span {
				color: var(--white);
				font-size: .8rem;
				display: flex;
				align-items: center;

				ion-icon {
					color: var(--secondary);
					font-size: 1.3rem;
					text-align: center;
					min-width: unset;
					margin-left: 10px;
					width: 10px;
					transition: all .3s;
				}
			}
		}


		ion-item {
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			min-height: unset;
			--padding-start: 0;
			--background: var(--transparent);
			padding-bottom: 8px !important;

			.container {
				width: 100%;
				position: relative;
				overflow: hidden;
				border-radius: 9px;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--dark);
					opacity: .8;

				}

				.item_detail {
					padding: 0;
					background: var(--white);
					width: 100%;
					position: relative;
					overflow-x: 99;
					border-radius: 9px;
					align-items: flex-start;
					padding-bottom: 4px;

					.img_box {
						min-width: 120px;
						height: 120px;
					}

					.text_box {
						padding: 0 14px;
						overflow: hidden;

						h3 {
							margin: 0;
							font-size: 1.3rem;
							margin-top: 18px;
							margin-bottom: 10px;
						}

						h4 {
							margin: 0 -8px;

							span {
								color: var(--black);
								font-weight: 500;
								font-size: 0.8rem;
								margin: 0 8px;
							}
						}

						p {
							color: var(--text-dark);
							margin: 0;
							font-size: .8rem;
							margin-bottom: 10px;
						}
					}
				}

				.choose_box {
					padding: 7px 13px;

					ion-row {
						margin: 0 -5px;
						align-items: center;

						ion-col {
							ion-label {
								color: var(--text-light);
								font-size: .85rem;
								min-width: 38px;
							}

							ion-select {
								padding: 0 !important;
								color: #0cffc9;
								max-width: unset;
								font-size: .9rem;
								font-weight: 500;
								position: relative;
								width: 100%;
								top: 2px;
							}

							h5 {
								color: var(--white);
								margin: 0;
								font-size: .9rem;
							}

							.add_remove_box {
								display: flex;
								align-items: center;

								span {
									background: var(--secondary);
									text-align: center;
									min-width: 30px;
									display: block;
									height: 30px;
									line-height: 30px;
									border-radius: 6px;
									font-weight: 700;
									font-size: 1.1rem;
								}

								strong {
									color: var(--white);
									padding: 0 4px;
									min-width: 24px;
									text-align: center;
									display: block;
									font-size: 1rem;
								}
							}
						}
					}

				}

			}

		}

		&.active {
			height: auto;
			transition: all .5s;

			h2 {
				span {
					ion-icon {
						&.zmdi-chevron-down {
							transform: rotate(180deg);
							transition: all .3s;
						}
					}
				}
			}
		}
	}
}

ion-footer {
	.button.btn {
		font-size: 1.15rem;
		font-weight: 800;
		height: 66px;

		strong {
			display: flex;
			align-items: center;
		}

		ion-icon {
			font-size: 2rem;
			min-width: 30px;
		}

		small {
			font-size: 1rem;
			font-weight: 500;
			text-transform: none !important;
		}
	}
}