ion-header {
	//backdrop-filter: saturate(120%) blur(10px);
	//margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;

	}

	ion-toolbar {
		ion-title {
			display: block;
			text-align: center;
			width: 100%;
			position: absolute !important;
			width: 100%;
			height: auto;
			top: 0; 
			left: 0;
		}
	}
}

ion-content.bg_img {
		--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	backdrop-filter: saturate(120%) blur(10px);
	//margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}

}

.banner {
	color: var(--white);
	padding: 27px 15px 34px 15px;
position: relative;
	z-index: 99;
	.banner_img {
		margin: 0 auto;
		width: 200px;
		padding-bottom: 27px;
	}

	h1 {
		margin: 0;
		font-size: 1.95rem;
		font-weight: 600;
		margin-bottom: 8px;
	}

	p {
		margin: 0;
		font-size: .8rem;
		font-weight: 300;
	}

}


ion-list {
	background: var(--transparent) !important;
	width: calc(100% - 30px);
	margin: 0 auto;
	position: relative;
	z-index: 99;
		

	h2 {
		font-size: 1rem;
		color: var(--primary-text);
		margin: 0;
		margin-bottom: 20px;
	}

	.order_details {
		padding: 20px 22px;
		background: var(--white);
		border-radius: 10px;
		margin-bottom: 7px;

		h2 {
			padding: 0;
			color: var(--text-light);
			margin-bottom: 25px;

			span {
				color: var(--text-dark);
			}

			&:last-child {
				margin-bottom: 5px;
			}
		}

		.delivery_address {
			margin-bottom: 20px;

			h2 {
				margin-bottom: 15px;
			}

			p {
				margin: 0;
				font-size: .95rem;
				color: var(--text-dark);
			}
		}
	}

	ion-item {
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		min-height: unset;
		--padding-start: 0;
		--background: var(--transparent);

		margin: 0 auto;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 10px;

		.containet {
			width: 100%;
			position: relative;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--dark);
				opacity: .8;

			}

			.restro_detail {
				background: var(--white);
				width: 100%;
				position: relative;
				overflow-x: 99;
				border-radius: 9px;
				padding: 13px;

				.img_box {
					min-width: 55px;
					height: 55px;
					border-radius: 5px;
					margin-right: 16px;
				}

				.text_box {
					width: 100%;
				}

				h3 {
					margin: 0;
					color: var(--text-dark);
					font-size: 1.15rem;
					font-weight: 600;
					margin-bottom: 8px;
				}

				h4 {
					margin: 0 -10px;
					color: var(--text-light);
					font-size: .8rem;
					font-weight: 300;

					ion-badge {
						background: var(--green_color);
						color: var(--white);
						padding: 0;
						text-align: center;
						min-width: 53px;
						height: 25px;
						border-radius: 50px;
						line-height: 25px;
						font-weight: 400;
						font-size: .8rem;
						margin: 0 10px;


						ion-icon {
							position: relative;
							top: 2px;
							min-width: 12px;
						}
					}
				}
			}

			.restro_address {
				position: relative;
				z-index: 99;
				padding: 9px 14px;
				width: 100%;

				p {
					margin: 0;
					color: var(--white);
					font-size: .8rem;
					font-weight: 400;

					ion-icon {
						color: var(--secondary);
						font-size: 1.2rem;
						min-width: 22px;

					}

					span {
						opacity: .6;
						min-width: calc(100% - 45px);
						white-space: nowrap;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;

					}
				}
			}
		}
	}

	.items_ordered {
		padding-top: 20px;

		ion-item .containet {
			.restro_detail {
				padding: 0;

				.img_box {
					margin: 0;
					min-width: 78px;
					height: 78px;
				}

				.text_box {
					padding: 0 14px;
					overflow: hidden;

					h4 {
						margin: 0 -5px;

						span {
							color: var(--text-dark);
							font-weight: 400;
							font-size: 0.9rem;
							margin: 0 8px;
						}
					}
				}
			}

			.restro_address {
				padding-left: 14px;
				padding-right: 14px;

				small {
					color: var(--white);
					opacity: .5;
					font-size: .8rem;
					font-weight: 400;
				}

				span {
					opacity: 1;
					margin: 0 7px;
				}
			}
		}
	}
}