<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Order CCDF145412</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<div class="banner ion-text-center">
		<div class="banner_img">
			<img src="assets/img/on_the_way.png">
		</div>
		<h1>On the Way</h1>
		<p>Status Updated 11:55 pm</p>
	</div>
	<ion-list lines="none">
		<div class="order_details">
			<h2 class="d-flex">Your Order Number <span class="end">CCDF145412</span></h2>

			<div class="delivery_address">
				<h2 class="d-flex">Delivery Address <span class="end">Home</span></h2>
				<p>105, Sliver Perl Housings, Golden Tower<br> Near City Part, Washington DC, <br> United States of America</p>
			</div>
			<h2 class="d-flex">Total Amount Paid <span class="end">$ 25.50</span></h2>
			<h2 class="d-flex">Amount Paid via<span class="end">PayU Money</span></h2>
		</div>

		<ion-item>
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							<ion-badge color="primary">4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>

							198 Poeple rated
						</h4>
					</div>
				</div>

				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>


		<div class="items_ordered">
			<h2 class="d-flex"> Items ordered</h2>
			<ion-item>
				<div class="containet">
					<div class="restro_detail d-flex">
						<div class="text_box">
							<h3>Margherita Pizza</h3>
							<h4 class="d-flex">
								<span>Medium</span>
								<span>1 Quantiy</span>
								<span>$ 11.50</span>
							</h4>
						</div>
						<div class="img_box center_img">
							<img src="assets/img/pizza_2.png" class="crop_img">
						</div>
					</div>
					<div class="restro_address">
						<p class="d-flex">
							<small>Note:</small>
							<span>No Onion & Garlic Please</span>
						</p>
					</div>
				</div>
			</ion-item>

			<ion-item>
				<div class="containet">
					<div class="restro_detail d-flex">
						<div class="text_box">
							<h3>Margherita Pizza</h3>
							<h4 class="d-flex">
								<span>Medium</span>
								<span>1 Quantiy</span>
								<span>$ 11.50</span>
							</h4>
						</div>
						<div class="img_box center_img">
							<img src="assets/img/pizza_2.png" class="crop_img">
						</div>
					</div>
					<div class="restro_address">
						<p class="d-flex">
							<small>Note:</small>
							<span>No Strawaberry & Grapes</span>
						</p>
					</div>
				</div>
			</ion-item>
		</div>
	</ion-list>
</ion-content>