<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>My Cart</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<ion-list lines="none">
		<ion-card>
			<ion-item>
				<div class="container">
					<div class="item_detail d-flex">
						<div class="text_box">
							<h3>Margherita Pizza</h3>
							<h4 class="d-flex">
								<span>500gm</span>
								<span>2 Person</span>
								<span>30 min</span>
							</h4>
						</div>
						<div class="img_box center_img end">
							<img src="assets/img/pizza_2.png" class="crop_img">
						</div>
					</div>
					<div class="choose_box">
						<ion-row>
							<ion-col size="5" class="d-flex">
								<ion-label>Size</ion-label>
								<ion-select placeholder="Select One">
									<ion-select-option selected value="m">Medium</ion-select-option>
									<ion-select-option value="l">Large</ion-select-option>
									<ion-select-option value="s">Small</ion-select-option>
								</ion-select>
							</ion-col>

							<ion-col size="3">
								<h5 class="ion-text-center">
									$ 11.50
								</h5>
							</ion-col>

							<ion-col size="4">
								<div class="add_remove_box ion-float-end">
									<span>-</span>
									<strong>1</strong>
									<span>+</span>
								</div>
							</ion-col>
						</ion-row>

						<ion-textarea rows="1" placeholder="Add note (i.e no onions, extara spce, etc)"></ion-textarea>
					</div>
				</div>

			</ion-item>

			<ion-item>
				<div class="container">
					<div class="item_detail d-flex">
						<div class="text_box">
							<h3>Crust Gourment Pizza</h3>
							<h4 class="d-flex">
								<span>500gm</span>
								<span>1 Person</span>
								<span>30 min</span>
							</h4>
						</div>
						<div class="img_box center_img end">
							<img src="assets/img/pizza_2.png" class="crop_img">
						</div>
					</div>
					<div class="choose_box">
						<ion-row>
							<ion-col size="5" class="d-flex">
								<ion-label>Size</ion-label>
								<ion-select placeholder="Select One">
									<ion-select-option selected value="m">Medium</ion-select-option>
									<ion-select-option value="l">Large</ion-select-option>
									<ion-select-option value="s">Small</ion-select-option>
								</ion-select>
							</ion-col>

							<ion-col size="3">
								<h5 class="ion-text-center">
									$ 10.00
								</h5>
							</ion-col>

							<ion-col size="4">
								<div class="add_remove_box ion-float-end">
									<span>-</span>
									<strong>1</strong>
									<span>+</span>
								</div>
							</ion-col>
						</ion-row>
						<ion-textarea rows="1" placeholder="Add note (i.e no onions, extara spce, etc)"></ion-textarea>
					</div>
				</div>
			</ion-item>
		</ion-card>
	</ion-list>
</ion-content>


<ion-footer>
	<div class="sub_total">
		<h3 class="d-flex">Sub Total <span class="end">$ 21.50</span></h3>
	</div>
	<div class="amount">
		<h3 class="d-flex">Services tax <span class="end">$ 2.50</span></h3>
		<h3 class="d-flex">Deliver Charge <span class="end">$ 1.50</span></h3>
		<h2 class="d-flex">Amount Payable <span class="end">$ 25.50</span></h2>
	</div>

	<ion-button expand="full" no class="btn ion-text-uppercase ion-no-margin" (click)="continue()">
		Proceed To Checkout
		<ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
	</ion-button>
</ion-footer>