ion-header {
	backdrop-filter: saturate(120%) blur(10px);
	margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;

	}
}

ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	--padding: 0 !important;

	//--padding-top: 0 !important;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}

}

ion-list {
	background: var(--transparent) !important;
	padding: 0 !important;
	width: calc(100% - 00px);
position: relative;
	z-index: 99;
	ion-card {
		margin: 0;
		width: 100%;
		border-radius: 0;
		position: relative;
		overflow: hidden;
		box-shadow: none;
		margin-bottom: 10px;
		//backdrop-filter: saturate(120%) blur(10px);
		padding: 18px 14px;
		padding-bottom: 0;
		overflow: hidden;
		transition: all .5s;

//		&::before {
//			content: '';
//			position: absolute;
//			top: 0;
//			left: 0;
//			width: 100%;
//			height: 100%;
//			background: var(--primary);
//			opacity: .2;
//
//		}

		ion-item {
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			min-height: unset;
			--padding-start: 0;
			--background: var(--transparent);
			padding-bottom: 10px !important;


			.container {
				width: 100%;
				position: relative;
				overflow: hidden;
				border-radius: 9px;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--dark);
					opacity: .8;

				}

				.item_detail {
					padding: 0;
					background: var(--white);
					width: 100%;
					position: relative;
					overflow-x: 99;
					border-radius: 9px;
					align-items: flex-start;

					.img_box {
						min-width: 75px;
						height: 75px;
					}

					.text_box {
						padding: 0 14px;
						overflow: hidden;
						width: 100%;

						h3 {
							margin: 0;
							font-size: 1.3rem;
							margin-top: 18px;
							margin-bottom: 5px;
						}

						h4 {
							margin: 0 -8px;

							span {
								color: var(--black);
								font-weight: 500;
								font-size: 0.8rem;
								margin: 0 8px;
							}
						}

						p {
							color: var(--text-dark);
							margin: 0;
							font-size: .8rem;
							margin-bottom: 10px;
						}
					}
				}

				.choose_box {
					padding: 10px 13px 10px 13px;

					ion-row {
						margin: 0 -5px;
						align-items: center;
						padding-bottom: 5px;

						ion-col {
							ion-label {
								color: var(--text-light);
								font-size: .85rem;
								min-width: 38px;
							}

							ion-select {
								padding: 0 !important;
								color: #0cffc9;
								max-width: unset;
								font-size: .9rem;
								font-weight: 500;
								position: relative;
								width: 100%;
								//	top: 2px;
							}

							h5 {
								color: var(--white);
								margin: 0;
								font-size: .9rem;
							}

							.add_remove_box {
								display: flex;
								align-items: center;

								span {
									background: var(--secondary);
									text-align: center;
									min-width: 30px;
									display: block;
									height: 30px;
									line-height: 30px;
									border-radius: 6px;
									font-weight: 700;
									font-size: 1.1rem;
								}

								strong {
									color: var(--white);
									padding: 0 4px;
									min-width: 24px;
									text-align: center;
									display: block;
									font-size: 1rem;
								}
							}
						}
					}

					ion-textarea {
						border-bottom: none !important;
						font-size: .9rem !important;
						font-weight: 400;
						margin: 0;
						--padding-bottom: 5px !important;
						--padding-start: 0px !important;
						--padding-top: 0px !important;
						border-bottom: 1px solid #000 !important;
						color: var(--text-light);
						position: relative;
						z-index: 99;
					}

				}

			}

		}
	}
}


ion-footer {
	background: #ede9f2;
	border-radius: 10px 10px 0 0px;
	padding-top: 15px;

	h3 {
		width: calc(100% - 48px);
		margin: 0 auto;
		margin-bottom: 11px;
		font-size: 1rem;
	}

	.sub_total {
		padding: 3px 0px;
	}

	.amount {
		background: var(--white);
		padding: 11px 0;

		h3 {
			padding-bottom: 4px;
		}

		h2 {
			margin: 0;
			color: var(--primary);
			font-weight: 700;
			font-size: 1.2rem;
			letter-spacing: 0;
			width: calc(100% - 48px);
			margin: 0 auto;
			padding-bottom: 4px;


			span {
				color: #000;
			}
		}
	}

	.button.btn {
		font-size: 1.15rem;
		font-weight: 800;
		height: 66px;

		ion-icon {
			font-size: 2rem;
			min-width: 41px;
		}
	}
}