<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start" class="dark_icon">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>

	<div class="search_box d-flex">
		<ion-icon class="zmdi zmdi-search" text-center></ion-icon>
		<ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="What'd you like to eat today?"></ion-searchbar>
		<ion-icon class="zmdi zmdi-tune" text-center></ion-icon>
	</div>

	<div class="food_category">
		<div class="food_type" (click)="goTorestaurants()" style="background: #45a71c;">
			<div class="food">
				<img src="assets/img/ic_veg.png">
				<p>Diet Food</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #ffe824;">
			<div class="food">
				<img src="assets/img/ic_chinese.png">
				<p>Chiness</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #ff0033;">
			<div class="food">
				<img src="assets/img/ic_pizza.png">
				<p>Italian</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #0088ff;">
			<div class="food">
				<img src="assets/img/ic_fish.png">
				<p>See Food</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #db0cfa;">
			<div class="food">
				<img src="assets/img/ic_icecream.png">
				<p>Ice Cream</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #45a71c;">
			<div class="food">
				<img src="assets/img/ic_veg.png">
				<p>Diet Food</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #ffe824;">
			<div class="food">
				<img src="assets/img/ic_chinese.png">
				<p>Chiness</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #ff0033;">
			<div class="food">
				<img src="assets/img/ic_pizza.png">
				<p>Italian</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #0088ff;">
			<div class="food">
				<img src="assets/img/ic_fish.png">
				<p>See Food</p>
			</div>
		</div>
		<div class="food_type" (click)="goTorestaurants()" style="background: #db0cfa;">
			<div class="food">
				<img src="assets/img/ic_icecream.png">
				<p>Ice Cream</p>
			</div>
		</div>
	</div>
</ion-header>

<ion-content  fullscreen>
	<div class="map">
		<img src="assets/img/map.png">
		
		<ion-icon class="zmdi zmdi-pin" style="top: 36%; left: 59%"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top: 44%; left: 20%"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top: 58%; left: 29%"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top: 59%; left: 69%"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top: 71%; left: 26%"></ion-icon>
		
		<ion-icon class="zmdi zmdi-pin active" style="top: 44%; left: 49%"></ion-icon>
		
		
		<div class="my_location" style="top:78%; left:57%"></div>
	</div>
</ion-content>

<ion-footer>
		<ion-list lines="none">
		<ion-item (click)="restroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							<ion-badge color="primary">4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>

							198 Poeple rated
						</h4>
					</div>
				</div>

				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-footer>