ion-header {
	.search_box {
		//background: var(--bg-light);
		width: calc(100% - 35px);
		margin: 0 auto;
		border-radius: 50px;
		padding: 0 10px;
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;

		ion-icon {
			color: var(--primary);
			font-size: 1.9rem;
			min-width: 40px;
			position: absolute;
			left: 0;
			min-width: 59px;
			height: 60px;
			line-height: 60px;
			z-index: 99;

			&.zmdi-tune {
				color: var(--text-light);
				font-size: 1.3rem;
				left: unset;
				right: 0;
				z-index: 99;
			}
		}

		ion-searchbar {
			padding: 0 20px 0 10px !important;
			--background: var(--transparent) !important;
			font-weight: 500;
			font-size: .9rem !important;
			--font-weight: 500 !important;
			--color: var(--text-light);
			--placeholder-opacity: 1;
			--placeholder-font-weight: 400 !important;
			--box-shadow: none !important;

			.searchbar-input-container {
				.searchbar-input {
					font-size: 1rem !important;
					font-weight: 500 !important;
					--box-shadow: none !important;

					&.sc-ion-searchbar-md {
						-webkit-padding-start: 0 !important;
						padding-inline-start: 0 !important;
						-webkit-padding-end: 0 !important;
						padding-inline-end: 0 !important;
						--box-shadow: none !important;
					}
				}
			}


		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--white);
			opacity: .9;
		}

	}

	.food_category {
		width: 100%;
		overflow-x: scroll;
		white-space: nowrap;


		.food_type {
			display: inline-block;
			margin: 0 5px;
			border-radius: 50px;
			min-width: 100px;
			padding: 4px 14px;

			.food {
				display: flex;
				align-items: center;
			}

			img {
				width: 30px;
				display: block;
				margin-right: 10px;
			}

			p {
				margin: 0;
				color: var(--white);
				text-align: center;
				font-weight: 500;
				font-size: .95rem;
			}

			&:first-child {
				margin-left: 20px;
			}

			&:last-child {
				margin-right: 20px;
			}
		}
	}
}

.map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;

	ion-icon {
		position: absolute;
		z-index: 999;
		color: var(--primary);
		font-size: 2.5rem;

		&.active {
			color: var(--green_color);
			font-size: 3.5rem;
		}
	}

	.my_location {
		position: absolute;
		z-index: 99;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		overflow: hidden;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			margin: auto;
			background: var(--red_color);
			border-radius: 50%;
			opacity: .4;
		}

		&::after {
			width: calc(100% - 8px);
			height: calc(100% - 8px);
			opacity: 1;
		}
	}
}

ion-footer {
	ion-list {
		background: var(--transparent) !important;
		padding-top: 10px;
		margin-bottom: 0;
		margin-bottom: 16px;

		h2 {
			font-size: 1rem;
			color: var(--primary-text);
			margin: 0;
			margin-bottom: 20px;
			padding-left: 20px;

			span {
				&.end {
					background: var(--secondary);
					color: var(--primary) !important;
					border-radius: 50px 0 0 50px;
					line-height: 40px;
					height: 40px;
					min-width: 115px;
					text-align: center;
					font-weight: 500;
				}
			}
		}

		ion-item {
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			min-height: unset;
			--padding-start: 0;
			--background: var(--transparent);
			width: calc(100% - 30px);
			margin: 0 auto;
			overflow: hidden;
			border-radius: 9px;
			margin-bottom: 15px;

			.containet {
				width: 100%;
				position: relative;
				overflow: hidden;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--dark);
					opacity: .8;

				}

				.restro_detail {
					background: var(--white);
					width: 100%;
					position: relative;
					overflow-x: 99;
					border-radius: 9px;
					padding: 13px;

					.img_box {
						min-width: 55px;
						height: 55px;
						border-radius: 5px;
						margin-right: 16px;
					}

					h3 {
						margin: 0;
						color: var(--text-dark);
						font-size: 1.15rem;
						font-weight: 600;
						margin-bottom: 8px;
					}

					h4 {
						margin: 0 -10px;
						color: var(--text-light);
						font-size: .8rem;
						font-weight: 300;

						ion-badge {
							background: var(--green_color);
							color: var(--white);
							padding: 0;
							text-align: center;
							min-width: 53px;
							height: 25px;
							border-radius: 50px;
							line-height: 25px;
							font-weight: 400;
							font-size: .8rem;
							margin: 0 10px;


							ion-icon {
								position: relative;
								top: 2px;
								min-width: 12px;
							}
						}
					}
				}

				.restro_address {
					position: relative;
					z-index: 99;
					padding: 9px 14px;
					width: 100%;

					p {
						margin: 0;
						color: var(--white);
						font-size: .9rem;
						font-weight: 400;

						ion-icon {
							color: var(--secondary);
							font-size: 1.2rem;
							min-width: 22px;

						}

						span {
							opacity: .6;
							min-width: calc(100% - 45px);
							white-space: nowrap;
							display: block;
							overflow: hidden;
							text-overflow: ellipsis;

						}
					}
				}
			}
		}
	}
}