<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Restaurants
			<span class="end ion-float-end">
				<ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
				<ion-icon class="zmdi zmdi-tune ion-text-end"></ion-icon>
			</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img">
	<ion-list lines="none">
		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							<ion-badge color="primary">4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>

							198 Poeple rated
						</h4>
					</div>
				</div>

				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_5.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Silver Leaf Resto</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_2.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Johnson Food</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_3.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Lepord cafe</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_4.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Kings Of foods</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							<ion-badge color="primary">4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>

							198 Poeple rated
						</h4>
					</div>
				</div>

				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_5.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Silver Leaf Resto</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_2.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Johnson Food</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_3.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Lepord cafe</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_4.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Kings Of foods</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							<ion-badge color="primary">4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>

							198 Poeple rated
						</h4>
					</div>
				</div>

				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_5.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Silver Leaf Resto</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_2.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Johnson Food</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>


		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_3.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Lepord cafe</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="goToRestroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_4.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Kings Of foods</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>