ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
}

ion-header ion-toolbar ion-title {
	font-size: 1.1rem;

	ion-icon {
		font-size: 1.5rem;
		min-width: 28px;
		position: relative;
		top: 6px;
	}
}

ion-list {
	background: var(--transparent) !important;
	padding-top: 25px;
	margin-bottom: 16px;

	h2 {
		font-size: 1rem;
		color: var(--primary-text);
		margin: 0;
		margin-bottom: 20px;
		padding-left: 20px;

		span {
			&.end {
				background: var(--secondary);
				color: var(--primary) !important;
				border-radius: 50px 0 0 50px;
				line-height: 40px;
				height: 40px;
				min-width: 115px;
				text-align: center;
				font-weight: 500;
			}
		}
	}

	ion-item {
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		min-height: unset;
		--padding-start: 0;
		--background: var(--transparent);
		width: calc(100% - 30px);
		margin: 0 auto;
		overflow: hidden;
		border-radius: 9px;
		margin-bottom: 15px;

		.containet {
			width: 100%;
			position: relative;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--dark);
				opacity: .8;

			}

			.restro_detail {
				background: var(--white);
				width: 100%;
				position: relative;
				overflow-x: 99;
				border-radius: 9px;
				padding: 13px;
				overflow: hidden;

				.img_box {
					min-width: 55px;
					height: 55px;
					border-radius: 5px;
					margin-right: 16px;
				}

				h3 {
					margin: 0;
					color: var(--text-dark);
					font-size: 1.15rem;
					font-weight: 600;
					margin-bottom: 8px;
				}

				h4 {
					margin: 0 -10px;
					color: var(--text-light);
					font-size: .8rem;
					font-weight: 300;

					ion-badge {
						background: var(--green_color);
						color: var(--white);
						padding: 0;
						text-align: center;
						min-width: 53px;
						height: 25px;
						border-radius: 50px;
						line-height: 25px;
						font-weight: 400;
						font-size: .8rem;
						margin: 0 10px;


						ion-icon {
							position: relative;
							top: 2px;
							min-width: 12px;
						}
					}
				}
			}

			.restro_address {
				position: relative;
				z-index: 99;
				padding: 9px 14px;
				width: 100%;

				p {
					margin: 0;
					color: var(--white);
					font-size: .9rem;
					font-weight: 400;

					ion-icon {
						color: var(--secondary);
						font-size: 1.2rem;
						min-width: 22px;

					}

					span {
						opacity: .6;
						min-width: calc(100% - 45px);
						white-space: nowrap;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;

					}
				}
			}
		}
	}
}