ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	--padding: 0 !important;
	--padding-top: 0 !important;
}

ion-header ion-toolbar ion-title {
	font-size: 1.1rem;

	ion-icon {
		font-size: 1.6rem;
		min-width: 35px;
		position: relative;
		top: 6px;
	}
}

.banner {
	position: relative;
	width: 100%;
	height: 330px;
	overflow: hidden;
	margin-bottom: 11px;

	.banner_img {
		width: 100%;
		height: 300px;

	}

	.restaurants_details {
		position: absolute;
		//backdrop-filter: saturate(180%) blur(20px);
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 0;
		z-index: 99;
		width: calc(100% - 30px);
		border-radius: 9px;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 26px);
			background: var(--dark);
			opacity: .8;
			border-radius: 9px;
		}

		.restro_info {
			position: relative;
			overflow: hidden;
			border-radius: 9px;
			padding: 0 20px 16px 20px;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: calc(100% - 26px);
				background: var(--primary);
				opacity: .9;
				border-radius: 8px;

			}

			.name_img {
				position: relative;
				z-index: 999;
				align-items: flex-end !important;
				margin-bottom: 17px;

				.img_box {
					min-width: 84px;
					height: 84px;
					border-radius: 3px;
					margin-right: 16px;
				}

				h2 {
					color: var(--white);
					margin: 0;
					font-size: 1.35rem;
				}
			}

			.rating_box {
				position: relative;
				z-index: 999;

				ion-badge {
					background: var(--green_color);
					color: var(--white);
					padding: 0;
					text-align: center;
					min-width: 84px;
					height: 30px;
					border-radius: 50px;
					line-height: 30px;
					font-weight: 400;
					font-size: 1rem;
					margin: 0px;
					margin-right: 16px;

					ion-icon {
						position: relative;
						top: 2px;
						min-width: 21px;
						font-size: 1rem;
						position: relative
					}
				}

				h4 {
					color: var(--text-light);
					font-size: .9rem;
					font-weight: 400;
					margin: 0;

				}

			}
		}

		.restro_address {
			position: relative;
			z-index: 99;
			padding: 10px 20px;
			width: 100%;


			p {
				margin: 0;
				color: var(--white);
				font-size: .75rem;
				font-weight: 400;

				ion-icon {
					color: var(--secondary);
					font-size: 1.1rem;
					min-width: 22px;

				}

				span {
					opacity: .6;
					min-width: calc(100% - 45px);
					white-space: nowrap;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;

				}
			}
		}
	}
}

.about {
	position: relative;
	width: calc(100% - 30px);
	border-radius: 9px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 20px 20px;
	margin: 0 auto;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 0px);
		background: var(--primary);
		opacity: .9;
		border-radius: 8px;

	}


	h2 {
		margin: 0;
		position: relative;
		z-index: 99;
		font-size: 1rem;
		color: var(--primary-text);
		margin: 0;
		margin-bottom: 14px;
	}

	p {
		margin: 0;
		color: var(--white);
		position: relative;
		z-index: 99;
		font-weight: 400;
		font-size: .9rem;
		line-height: 20px;
	}
}

.what_people_says {
	ion-list {
		background: var(--transparent) !important;
		padding-top: 25px;
		margin-bottom: 16px;
		width: calc(100% - 30px);
		margin: 0 auto;

		h2 {
			font-size: 1rem;
			color: var(--primary-text);
			margin: 0;
			margin-bottom: 20px;

			span {
				&.end {
					color: var(--secondary) !important;
					font-weight: 500;
				}
			}
		}

		ion-item {
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			min-height: unset;
			--padding-start: 0;
			overflow: hidden;
			border-radius: 9px;
			margin-bottom: 15px;

			.containet {
				width: 100%;
				position: relative;
				overflow: hidden;
				padding: 12px;

				.person_detail {
					margin-bottom: 18px;
					.img_box {
						min-width: 45px;
						height: 45px;
						border-radius: 50%;
						margin-right: 16px;
					}

					.text_box {
						width: 100%;

						h3 {
							margin: 0;
							font-size: .9rem;
							overflow: hidden;

							span {
								&.name {

									max-width: calc(100% - 100px);
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
								}

								&.icon_box {
									min-width: 90px;

									ion-icon {
										font-size: 1.1rem;
										color: var(--text-light);

										&.active {
											color: var(--green_color);
										}
									}
								}
							}
						}

						h4 {
							margin: 0;
							color: var(--text-light);
							font-weight: 400;
							font-size: .8rem;
						}
					}
				}

				p {
					margin: 0;
					font-size: .95rem;
					padding-bottom: 10px;
					line-height: 19px;
				}
			}
		}
	}
}

ion-footer {

	.button.btn {
		font-size: 1.15rem;
		font-weight: 800;
		height: 66px;

		ion-icon {
			font-size: 1.8rem;
			min-width: 30px;
		}
	}
}