<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title><span class="end ion-float-end">
				<ion-icon class="zmdi zmdi-share"></ion-icon>
				<ion-icon class="zmdi zmdi-favorite-outline"></ion-icon>
			</span></ion-title>
	</ion-toolbar>
	
</ion-header>

<ion-content class="bg_img" fullscreen>
	<div class="banner">
		<div class="banner_img center_img">
			<img src="assets/img/banner_img.png" class="crop_img">
		</div> 
		<div class="restaurants_details">
			<div class="restro_info">
				<div class="name_img d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<h2>Marine Rise <br> Restaurant</h2>
				</div>

				<div class="rating_box  d-flex">
					<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
					</ion-badge>
					<h4> 198 Poeple rated</h4>
				</div>
			</div>

			<div class="restro_address">
				<p class="d-flex">
					<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
					<span>1124, Old Church Street, New York, USA</span>
					<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
				</p>
			</div>
		</div>
	</div>


	<div class="about">
		<h2>About Restro</h2>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

		</p>
	</div>



	<div class="what_people_says">
		<ion-list lines="none">
			<h2 class="d-flex">What people Says <span class="end">Add review</span></h2>
			<ion-item>
				<div class="containet">
					<div class="person_detail d-flex">
						<div class="img_box center_img">
							<img src="assets/img/dp1.png" class="crop_img">
						</div>
						<div class="text_box">
							<h3 class="d-flex">
								<span class="name">George Smith</span>
								<span class="end icon_box">
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star "></ion-icon>
								</span>
							</h3>

							<h4>June 24, 2018</h4>
						</div>
					</div>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
				</div>
			</ion-item>
			<ion-item>
				<div class="containet">
					<div class="person_detail d-flex">
						<div class="img_box center_img">
							<img src="assets/img/dp2	.png" class="crop_img">
						</div>
						<div class="text_box">
							<h3 class="d-flex">
								<span class="name">George Smith</span>
								<span class="end icon_box">
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
								</span>
							</h3>

							<h4>June 24, 2018</h4>
						</div>
					</div>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</p>
				</div>
			</ion-item>
			<ion-item>
				<div class="containet">
					<div class="person_detail d-flex">
						<div class="img_box center_img">
							<img src="assets/img/dp1.png" class="crop_img">
						</div>
						<div class="text_box">
							<h3 class="d-flex">
								<span class="name">George Smith</span>
								<span class="end icon_box">
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star "></ion-icon>
								</span>
							</h3>

							<h4>June 24, 2018</h4>
						</div>
					</div>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
				</div>
			</ion-item>
			<ion-item>
				<div class="containet">
					<div class="person_detail d-flex">
						<div class="img_box center_img">
							<img src="assets/img/dp2	.png" class="crop_img">
						</div>
						<div class="text_box">
							<h3 class="d-flex">
								<span class="name">George Smith</span>
								<span class="end icon_box">
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
								</span>
							</h3>

							<h4>June 24, 2018</h4>
						</div>
					</div>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					</p>
				</div>
			</ion-item>
		</ion-list>

	</div>
</ion-content>

<ion-footer>
	<ion-button expand="full" class="btn ion-text-uppercase ion-no-margin" (click)="items()">
			<ion-icon class="zmdi zmdi-cutlery ion-text-start"> </ion-icon>
		Order Food Now
	</ion-button>
</ion-footer>