<ion-header class="bg_transparent">
	<ion-toolbar>
			<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>My Profile</ion-title>
	</ion-toolbar>

	<ion-segment [(ngModel)]="tab">
		<ion-segment-button value="info">
			<ion-label>User info</ion-label>
		</ion-segment-button>
		<ion-segment-button value="address">
			<ion-label>My Address</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<div class="tab_container" [ngSwitch]="tab">
		<ion-list *ngSwitchCase="'info'" lines="none">
			<div class="form">
				<div class="profile_box">
					<div class="img_box center_img">
						<img src="assets/img/profile.png" class="crop_img">
					</div>
					<h2>
						<ion-icon text-center class="zmdi zmdi-camera"></ion-icon>Update Profile Pic
					</h2>
				</div>

				<div class="list">
					<ion-item>
						<ion-label position="stacked">Full Name</ion-label>
						<ion-input type="email" value="Samantha Smith"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked">Email Address</ion-label>
						<ion-input type="email" value="samanthasmith@mail.com"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked">Phone Number</ion-label>
						<ion-input type="text" value="+1987 654 3210"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked">Gender</ion-label>
						<ion-select placeholder="Select One">
							<ion-select-option selected value="f" selected-text>Female</ion-select-option>
							<ion-select-option value="m">Male</ion-select-option>
						</ion-select>
					</ion-item>

					<ion-button expand="block" class="btn ion-text-uppercase">Update Info</ion-button>
				</div>
			</div>
		</ion-list>



		<ion-list *ngSwitchCase="'address'" lines="none" class="my_address">
			<ion-item>
				<div class="item_container">
					<div class="item_header">
						<h2 class="d-flex">Home <ion-icon class="end ion-text-end zmdi zmdi-edit"></ion-icon>
						</h2>
					</div>
					<div class="address">
						<p>105, Sliver Perl Housings, Golden Tower<br> Near City Part, Washington DC, <br> United States of America</p>
						<p>+1 987 654 3210</p>
					</div>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_container">
					<div class="item_header">
						<h2 class="d-flex">Farm House <ion-icon class="end ion-text-end zmdi zmdi-edit"></ion-icon>
						</h2>
					</div>
					<div class="address">
						<p> B 441, Old city town, Leminton Street<br> Near City Part, Washington DC, <br> United States of America</p>
						<p>+1 987 654 3210</p>
					</div>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_container">
					<div class="item_header">
						<h2 class="d-flex">Add New Address <ion-icon class="end ion-text-end zmdi zmdi-plus-circle"></ion-icon>
						</h2>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</div>
</ion-content>