ion-header {
	backdrop-filter: saturate(120%) blur(10px);
	margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;

	}

	ion-toolbar {
		ion-title {
			display: block;
			text-align: center;
			width: 100%;
			position: absolute !important;
			width: 100%;
			height: auto;
			top: 0; 
			left: 0;

		}
	}

	ion-segment {
		border: none !important;
		position: relative;
		min-height: 56px;

		ion-segment-button {
			background: none !important;
			border: none !important;
			position: relative;
			font-size: 1.12rem;
			font-weight: 500;
			color: var(--white) !important;
			text-transform: unset !important;
			letter-spacing: 0;
			--border-color: var(--transparent) !important;

			&::before {
				content: '';
				position: absolute;
				bottom: 6px;
				right: 0;
				left: 0;
				margin: 0 auto;
				height: 4px;
				transition: all .3s;
				width: 0;
				background: var(--secondary);
				border-radius: 50px;
			}


			&.segment-button-checked {
				--border-color: var(--transparent) !important;

				&::before {
					width: 75px;
					transition: all .3s;
				}
			}

			&:host(.activated),
			&:host(.segment-button-checked) {
				--border-color: var(--transparent) !important;
			}

		}




	}
}


ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	backdrop-filter: saturate(120%) blur(10px);
	//margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}

	.tab_container {
		//margin-top: 130px;
		position: relative;
		z-index: 999;

		ion-list {
			background: var(--transparent) !important;

			.profile_box {
				margin-bottom: 30px;
				margin-top: 23px;

				.img_box {
					min-width: 105px;
					max-width: 105px;
					height: 105px;
					border-radius: 50%;
					margin: 0 auto;
					margin-bottom: 12px;

				}

				h2 {
					margin: 0;
					color: var(--white);
					font-size: 1rem;
					text-align: center;

					ion-icon {
						color: var(--primary);
						background: var(--secondary);
						border-radius: 50%;
						font-size: 1rem;
						min-width: 23px;
						height: 23px;
						line-height: 23px;
						margin: 0 13px;
						position: relative;
						top: 7px;
					}
				}

			}

			&.my_address {
				padding-top: 19px;

				ion-item {
					--inner-padding-end: 0px;
					--inner-min-height: unset !important;
					min-height: unset;
					--padding-start: 0;
					--background: var(--transparent);
					width: calc(100% - 30px);
					margin: 0 auto;
					overflow: hidden;
					border-radius: 9px;
					margin-bottom: 15px;

					.item_container {
						position: relative;
						width: 100%;
						overflow: hidden;

						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: var(--dark);
							opacity: .8;

						}

						.item_header {
							position: relative;
							z-index: 99;
							padding: 15px 15px;

							h2 {
								margin: 0;
								color: var(--white);
								font-size: 1.1rem;

								ion-icon {
									color: var(--secondary);
									font-size: 1.4rem;
								}
							}
						}

						.address {
							background: var(--white);
							width: 100%;
							position: relative;
							overflow-x: 99;
							border-radius: 9px;
							padding: 13px 15px;
							padding-bottom: 3px;

							p {
								margin: 0;
								color: var(--text-dark);
								font-size: .96rem;
								margin-bottom: 14px;
							}

						}
					}
				}
			}
		}
	}
}