<ion-header class="bg_transparent">
	<ion-toolbar>
			<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>My Orders</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<ion-list lines="none">
		<h2>Upcoming Orders</h2>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>

		<h2>Past Orders</h2>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="goToOrderInfo()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							Order CCDF145412 (2 item)
							<span class="end">$ 25.50</span>
						</h4>

						<h4 class="d-flex">
							Ordered on 14 Jan | 11:40 am
							<span class="end">Paid via Credit Card</span>
						</h4>
					</div>
				</div>

				<div class="order_status">
					<p class="d-flex">
						<span> Order Status</span>
						<span class="end">In Process</span>
					</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>