ion-header {
	backdrop-filter: saturate(120%) blur(10px);
	margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;

	}
}

ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	backdrop-filter: saturate(120%) blur(10px);
	//margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}

}

ion-list {
	background: var(--transparent) !important;
	padding-top: 25px;
	margin-bottom: 16px;
	width: calc(100% - 30px);
	margin: 0 auto;
	position: relative;
	z-index: 999;

	h2 {
		font-size: 1rem;
		color: var(--primary-text);
		margin: 0;
		margin-bottom: 27px;
		padding-top: 13px;

		span {
			&.end {
				background: var(--secondary);
				color: var(--primary) !important;
				border-radius: 50px 0 0 50px;
				line-height: 40px;
				height: 40px;
				min-width: 115px;
				text-align: center;
				font-weight: 500;
			}
		}
	}

	ion-item {
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		min-height: unset;
		--padding-start: 0;
		--background: var(--transparent);
		overflow: hidden;
		border-radius: 9px;
		margin-bottom: 15px;

		.containet {
			width: 100%;
			position: relative;
			overflow: hidden;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--dark);
				opacity: .8;

			}

			.restro_detail {
				background: var(--white);
				width: 100%;
				position: relative;
				overflow-x: 99;
				border-radius: 9px;
				padding: 13px;

				.img_box {
					min-width: 55px;
					height: 55px;
					border-radius: 5px;
					margin-right: 16px;
				}

				.text_box {
					width: 100%;

				}

				h3 {
					margin: 0;
					color: var(--text-dark);
					font-size: 1.15rem;
					font-weight: 600;
					margin-bottom: 8px;
				}

				h4 {
					margin: 0;
					color: var(--text-dark);
					font-size: .6rem;
					font-weight: 300;
					margin-bottom: 2px;

					ion-badge {
						background: var(--green_color);
						color: var(--white);
						padding: 0;
						text-align: center;
						min-width: 53px;
						height: 25px;
						border-radius: 50px;
						line-height: 25px;
						font-weight: 400;
						font-size: .8rem;
						margin: 0 10px;


						ion-icon {
							position: relative;
							top: 2px;
							min-width: 12px;
						}
					}
				}
			}

			.order_status {
				position: relative;
				z-index: 99;
				padding: 9px 14px;
				width: 100%;

				p {
					margin: 0;
					color: var(--white);
					font-size: .85rem;
					font-weight: 400;

					span {
						opacity: .6;
						max-width: calc(100% - 45px);
						white-space: nowrap;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;

						&.end {
							color: var(--secondary);
							opacity: 1;
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}