<ion-app>
	<ion-split-pane>
		<ion-menu type="overlay">
			<ion-header class="bg_transparent">
				<ion-toolbar>
					<ion-title auto-hide="false">
						<ion-menu-toggle auto-hide="false">
							<ion-icon name="md-close"></ion-icon>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false" class="end ion-float-end">
							<span (click)="logOut()">Log out</span>
						</ion-menu-toggle>
					</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-row>
					<ion-col size="6" *ngFor="let p of appPages">
						<ion-menu-toggle auto-hide="false">
							<div class="item_box" [routerDirection]="'root'" [routerLink]="[p.url]">
								<div class="img_box">
									<img data-src="{{p.image}}">
								</div>
								<h2>{{p.title}}</h2>
							</div>
						</ion-menu-toggle>
					</ion-col>
				</ion-row>
			</ion-content>
		</ion-menu>
		<ion-router-outlet main></ion-router-outlet>
	</ion-split-pane>
</ion-app>