//@import 'href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"';
//@import 'https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet';

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-Light.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-Thin.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-Black.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-Medium.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-Bold.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../assets/font/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../assets/font/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*,
body,
html,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
li {
	--ion-font-family: 'HelveticaNeueCyr';
	font-family: 'HelveticaNeueCyr';
	//letter-spacing: .05rem;
}

ion-menu {
	--max-width: 100%;
	--width: 100%;
	--background: var(--transparent);
	background: rgba(0, 0, 0, 0.3);

	ion-header {
		backdrop-filter: saturate(180%) blur(20px);
		padding-top: 17px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--white);
			display: block !important;
			opacity: .8;


		}

		ion-toolbar {

			ion-title {
				color: var(--black);
				font-size: 1rem;
				padding: 0 25px !important;

				span {
					position: relative;
					top: -5px;
					font-weight: 700;
				}

				ion-icon {
					font-size: 1.8rem;

				}
			}
		}
	}

	ion-content {
		--background: var(--transparent);

		ion-row {
			position: relative;
			overflow: hidden;
			backdrop-filter: saturate(180%) blur(20px);
			padding-top: 21px;
			padding-bottom: 31px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--white);
				display: block !important;
				opacity: .8;


			}

			ion-col {
				.item_box {
					width: 100%;
					padding: 21px 0;

					.img_box {
						width: 80px;
						margin: 0 auto;
						margin-bottom: 5px;

					}

					h2 {
						margin: 0;
						text-align: center;
						font-size: 1rem;
						font-weight: 700;
					}
				}
			}

		}
	}
}