ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	backdrop-filter: saturate(120%) blur(10px);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}


}

ion-header {
	//backdrop-filter: saturate(120%) blur(10px);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}
}

.banner {
	padding-top: 26%;
	padding-bottom: 26%;
position: relative;
	z-index: 999;
	img {
		width: 139px;
		display: block;
		margin: 0 auto;
	}
}

.text_box {
	background: var(--white);
	border-radius: 10px;
	padding: 20px 22px;
	width: calc(100% - 25px);
	margin: 0 auto;
	margin-bottom: 13px;
	padding-bottom: 7px;

position: relative;
	z-index: 999;
	h2 {
		margin: 0;
		color: var(--text-dark);
		font-size: 1.1rem;
		font-weight: 500;
		margin-bottom: 17px;
	}

	p {
		margin: 0;
		color: var(--text-dark);
		font-size: .95rem;
		font-weight: 500;
		padding-bottom: 13px;
		line-height: 23px;
		letter-spacing: .2px;
	}
}