<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Sign up</ion-title>
	</ion-toolbar>

</ion-header>
 
<ion-content class="bg_img" fullscreen>
	<div class="form">
		<div class="profile_box d-flex">
			<div class="img_box center_img">
				<img src="assets/img/profile.png" class="crop_img">
			</div>
			<h2 class="d-flex">
				<ion-icon text-center class="zmdi zmdi-camera"></ion-icon>Add profile picture
			</h2>
		</div>

		<div class="list">
			<ion-item>
				<ion-label position="floating">Full Name</ion-label>
				<ion-input type="email" value="Samantha Smith"></ion-input>
			</ion-item>
				<ion-item>
				<ion-label position="floating">Email Address</ion-label>
				<ion-input type="email" value="samanthasmith@mail.com"></ion-input>
			</ion-item>
				<ion-item>
				<ion-label position="floating">Phone Number</ion-label>
				<ion-input type="text" value="+1987 654 3210"></ion-input>
			</ion-item>
				<ion-item>
				<ion-label position="floating">Create Password</ion-label>
				<ion-input type="password" value="111111"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Confirm Password</ion-label>
				<ion-input type="password" value="123456"></ion-input> 
			</ion-item>
			<ion-button expand="block" class="btn ion-text-uppercase" (click)="goTohome()">Sign Up</ion-button>
		</div>
	</div>
</ion-content>