ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	//--padding-top: 50px;
}

.form {
	.profile_box {
		margin-bottom: 24px;
		margin-top: 10px;

		.img_box {
			min-width: 105px;
			height: 105px;
			border-radius: 50%;

		}

		h2 {
			margin: 0;
			color: var(--white);
			font-size: 1rem;

			ion-icon {
				color: var(--primary);
				background: var(--secondary);
				border-radius: 50%;
				font-size: 1rem;
				min-width: 23px;
				height: 23px;
				line-height: 23px;
				margin: 0 13px;

			}
		}

	}
}