ion-content {
  --background: rgba(0, 0, 1, 0.58) !important; 
	--padding-bottom: 0 !important;
}
 

ion-footer {
	--border-color: var(--transparent) !important;

	.container {
		width: calc(100% - 48px);
		margin: 0 auto;
		overflow: hidden;

		.filter_box {
			background: var(--white);
			border-radius: 7px 7px 0 0px;

			ion-segment {
				border: none !important;
				position: relative;
				min-height: 56px;

				ion-segment-button {
					background: none !important;
					position: relative;
					font-size: 1.2rem;
					font-weight: 400;
					color: #d0d0d0 !important;
					text-transform: unset !important;
					letter-spacing: 0;
					--border-color: var(--transparent) !important;

					ion-label {
						position: relative;
						padding: 0 8px;

						&.active {
							&::before {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								width: 7px;
								height: 7px;
								border-radius: 50%;
								background: var(--secondary);
								z-index: 99;
								opacity: .5;
							}
						}
					}

					&::before {
						content: '';
						position: absolute;
						bottom: 0px;
						right: 0;
						left: 0;
						margin: 0 auto;
						height: 4px;
						transition: all .3s;
						width: 0;
						background: var(--black);
						border-radius: 50px;
					}

					&.segment-button-checked {
						color: var(--text-dark) !important;
						font-weight: 500;

						ion-label {
							&.active {
								&::before {
									opacity: 1;
								}
							}
						}

						&::before {
							width: 75px;
							transition: all .3s;
						}
					}

					&:host(.activated),
					&:host(.segment-button-checked) {
						--border-color: var(--transparent) !important;
					}

				}

			}


			ion-item {
				--inner-padding-end: 0px;
				--inner-min-height: unset !important;
				min-height: unset;
				--padding-start: 0;
				--background: var(--white);
				width: calc(100% - 0px);
				margin: 0 auto;
				overflow: hidden;
				padding: 0px 17px;
				background: var(--white);
				min-height: unset;

				ion-label {
					margin: 0;
					color: var(--text-dark);
					text-align: center;
					font-weight: 400;
					font-size: 1.15rem;

					.img_box {
						width: 61px;

						img {
							width: 54px;
						}
					}

					h2 {
						color: var(--black);
						font-weight: 500;
						font-size: .95rem;
						margin: 0 18px;
					}
				}

				ion-radio {
					//display: none;
					margin-top: 0;
					margin-bottom: 0;
					--color: transparent;
					--color-checked: transparent;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					.radio-icon {
						display: none;
					}
				}

				&.item-radio-checked {
					ion-label {
						color: var(--primary);
						font-weight: 700;

					}
				}
			}
		}

		.button.btn {
			--border-radius: 7px;
			margin: 0;
			margin-bottom: 10px;
			font-size: 1rem;
			font-weight: 500;

			&.apply_filter {
				--background: var(--primary) !important;
				color: var(--white) !important;
				--border-radius: 0px 0px 7px 7px;
			}

			&.cancel {
				--background: var(--white) !important;
				color: var(--primary) !important;
			}

		}
	}
}