<!--
<ion-header>
  <ion-toolbar>
    <ion-title>filters</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content fullscreen>

</ion-content>
<ion-footer>
	<div class="container">
		<div class="filter_box">
			<ion-segment [(ngModel)]="tab">
				<ion-segment-button value="sort_by">
					<ion-label >
						Sort by
					</ion-label>
				</ion-segment-button>
				<ion-segment-button value="price">
					<ion-label class="active">
						Price
					
					</ion-label>
				</ion-segment-button>
				<ion-segment-button value="dietaty">
					<ion-label>Dietaty</ion-label>
				</ion-segment-button>
			</ion-segment>


			<div class="'tab_content" [ngSwitch]="tab">
				<ion-list lines="none" *ngSwitchCase="'sort_by'">
					<ion-radio-group>
						<ion-item>
							<ion-label>Recommended</ion-label>
							<ion-radio slot="end" value="1"></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Best Rated</ion-label>
							<ion-radio slot="end" value="2" checked></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Delivery Time</ion-label>
							<ion-radio slot="end" value="3" ></ion-radio>
						</ion-item>
					</ion-radio-group>
				</ion-list>	
				
				
				
				<ion-list lines="none" *ngSwitchCase="'price'">
					<ion-radio-group>
						<ion-item>
							<ion-label>Low To Heigh</ion-label>
							<ion-radio slot="end" value="1"></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Height To Low</ion-label>
							<ion-radio slot="end" value="2" checked></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Delivery Time</ion-label>
							<ion-radio slot="end" value="3" ></ion-radio>
						</ion-item>
					</ion-radio-group>
				</ion-list>
				 
				
				
				<ion-list lines="none" *ngSwitchCase="'dietaty'">
					<ion-radio-group>
						<ion-item>
							<ion-label>Recommended</ion-label>
							<ion-radio slot="end" value="1"></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Best Rated</ion-label>
							<ion-radio slot="end" value="2" checked></ion-radio>
						</ion-item>
						<ion-item>
							<ion-label>Delivery Time</ion-label>
							<ion-radio slot="end" value="3" ></ion-radio>
						</ion-item>
					</ion-radio-group>
				</ion-list>
			</div>
		</div>
		
		<ion-button expand="block" class="btn ion-text-uppercase apply_filter" (click)="dismiss()">Apply Filter</ion-button>
		<ion-button expand="block" class="btn ion-text-uppercase cancel" (click)="dismiss()">Cancel</ion-button>
	</div>
</ion-footer>