<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Select Payment Method</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img" fullscreen>
	<ion-list lines="none">
		<ion-radio-group>
			<ion-item>
				<ion-label class="d-flex">
					<div class="img_box">
						<img src="assets/img/payu.png">
					</div>
					<h2>PayU Money</h2>
				</ion-label>
				<ion-radio slot="end" value="1" checked></ion-radio>
			</ion-item>

			<ion-item>
				<ion-label class="d-flex">
					<div class="img_box">
						<img src="assets/img/paypal.png">
					</div>
					<h2>PayPal Money</h2>
				</ion-label>
				<ion-radio slot="end" value="2"></ion-radio>
			</ion-item>
			
			
			<ion-item>
				<ion-label class="d-flex">
					<div class="img_box">
						<img src="assets/img/card.png">
					</div>
					<h2>Credit / Debit Card</h2>
				</ion-label>
				<ion-radio slot="end" value="3"></ion-radio>
			</ion-item>
			
			
			
			<ion-item>
				<ion-label class="d-flex">
					<div class="img_box">
						<img src="assets/img/cod.png">
					</div>
					<h2>Cash on Delivery</h2>
				</ion-label>
				<ion-radio slot="end" value="4"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>

<ion-footer>
	<div class="amount">
		<h2 class="d-flex">Amount Payable <span class="end">$25.50</span></h2>
	</div>

	<ion-button expand="full" no class="btn ion-text-uppercase ion-no-margin" (click)="continue()">
		Proceed To Checkout
		<ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
	</ion-button>
</ion-footer>