ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	--padding: 0 !important;

	//--padding-top: 0 !important;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;
		z-index: 1;

	}
}

ion-header {
	backdrop-filter: saturate(120%) blur(10px);
	margin-bottom: 8px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--primary);
		opacity: .2;

	}
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	z-index: 99;

	ion-item {
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		min-height: unset;
		--padding-start: 0;
		--background: var(--white);
		width: calc(100% - 30px);
		margin: 0 auto;
		overflow: hidden;
		border-radius: 9px;
		margin-bottom: 10px;
		padding: 6px 17px;
		background: var(--white);
		min-height: unset;

		ion-label {
			margin: 0;

			.img_box {
				width: 61px;

				img {
					width: 54px;
				}
			}

			h2 {
				color: var(--black);
				font-weight: 500;
				font-size: .95rem;
				margin: 0 18px;
			}
		}

		ion-radio {
			margin-top: 0;
			margin-bottom: 0;
			--color-checked: var(--secondary);
		}
	}
}

ion-footer {
	background: var(--white);
	border-radius: 10px 10px 0 0px;
	padding-top: 15px;

	.amount {
		h2 {
			margin: 0;
			color: var(--primary);
			font-weight: 700;
			font-size: 1.2rem;
			letter-spacing: 0;
			width: calc(100% - 48px);
			margin: 0 auto;
			margin-bottom: 11px;

			span {
				color: #000;
			}
		}
	}

	.button.btn {
		font-size: 1.15rem;
		font-weight: 800;
		height: 66px;

		ion-icon {
			font-size: 2rem;
			min-width: 41px;
		}
	}
}