@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
	--white: #fff;
	--primary: #422170;
	--dark: #26005a;
	--black: #000;
	--secondary: #ffef00;
	--transparent: rgba(0, 0, 0, 0);
	--primary-text: #766493;
	--text-dark: #3b3b3b;
	--black: #000;
	--text-light: #a4a4a4;
	--bg-light: #f5f4f8;
	--green_color: #45ae17;
	--red_color: #ff0000;
}

.bg_none {
	--background: bar(--transparent) !important;
}

.d-flex {
	display: flex !important;
	align-items: center;
	width: 100%;

	.end {
		margin-left: auto;
		margin-right: 0;
		display: block;
	}
}


.center_img {
	position: relative;
	overflow: hidden;

	img {
		&.crop_img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: -50% !important;
			right: -50% !important;
			margin: auto;
		}

	}
}

.button {
	&.btn {
		font-size: 1.2rem;
		font-weight: 700;
		height: 55px;
		letter-spacing: 0;
		box-shadow: none;
		--background: var(--secondary);
		text-transform: none;
		color: var(--primary);
		--border-radius: 4px;

		ion-icon {
			font-size: 1.4rem;
		}

		&:hover:not(.disable-hover) {
			--background: var(--secondary);
		}

		&.button-outline {
			--background: var(--transparent);
			color: var(--secondary);
			--border-color: var(--secondary);

			&:hover:not(.disable-hover) {
				--background: var(--transparent);
			}
		}

	}
}


ion-header {
	&::after {
		display: none !important;
	}

	ion-toolbar {
		--background: var(--primary);
		display: flex;
		align-items: center;
		min-height: 56px !important;
		height: auto;
		max-height: 56px !important;
		overflow: visible !important;
		line-height: 56px;

		ion-buttons {
			position: relative !important;
			margin: 0;

			.button-inner {
				ion-icon {
					//font-size: 1.5rem;
					padding-left: 10px;
					color: var(--white);
				}

				.button-text {
					display: none;
				}
			}

			ion-menu-button {
				--color: var(--white) !important;
				//--padding-start: 0 !important;
				--padding-end: 0 !important;
				font-size: 1.8rem !important;

				&.ios {
					font-size: 2rem !important;
				}

			}

			ion-back-button {
				.button-native {
					padding: 0 !important;
				}
			}

			&.dark_icon {
				ion-menu-button {
					--color: var(--black) !important;
				}


				.button-inner {
					ion-icon {
						color: var(--black);

					}
				}
			}

		}

		ion-title {
			color: var(--white);
			padding: 0 15px !important;
			text-align: justify;
			font-size: .9rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			position: relative !important;
			overflow: visible !important;

			.end {
				margin-right: 0;
				margin-left: auto;
				display: block;
			}

		}


	}

	&.bg_transparent {
		//position: absolute;
		z-index: 99;
		width: 100%;
		height: auto;

		ion-toolbar {
			--background: transparent;
			--ion-color-base: transparent !important;
		}
	}
}

.no-padding {
	padding: 0px !important;
}


.form {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: calc(100% - 43px);


	ion-item {
		padding: 15px 17px 17px 17px;
		border-radius: 4px;
		border: none !important;
		box-shadow: none !important;
		background: var(--white);
		align-items: flex-start;
		//border-top: 1px solid var(--ion-color-light-shade) !important;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		min-height: unset;
		margin-bottom: 10px;
		--padding-start: 0;
		--highligh-color-focused:var(--transparent) !important;
		
		ion-label {
			font-size: 1.1rem !important;
			--color: var(--gray) !important;
			text-transform: none;
			margin: 0px;
			min-height: unset;
			letter-spacing: .5px;
			font-weight: 400;
			margin-bottom: 10px !important;
		}
		ion-textarea,
		ion-input {
			margin-top: 0px;
			--padding: 0 !important;
			font-size: 1.1rem !important;
			font-weight: 500;
			--padding-start: 0 !important;
			--padding-end: 0 !important;
			--padding-top: 0 !important;
			--padding-bottom: 15px !important;
			color: var(--text-dark);
			border-bottom: 1px solid #ccc !important;
			--placeholder-color: var(--text-dark) !important;
			--placeholder-opacity: .3;
			input {
				--padding: var(--no-padding);

				&.native-input {
					--padding: var(--no-padding);
				}
			}

		}

		h3 {
			margin: 0 !important;
			margin: 0 !important;
			font-weight: 500;
			font-size: 0.9rem;
			position: relative;
			height: 50px;
			top: -2px;
			color: var(--primary);
		}

		&:first-child {
			border-top: none !important;
		}

		&.item-select {
			ion-label {
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				display: block;
			}

			ion-select {
				width: 100%;
				min-width: 100%;
				padding: 0;
				padding-right: 2px;
				font-size: 1.1rem !important;
				font-weight: 500;
				color: var(--text-dark);
				padding-bottom: 10px !important;
				border-bottom: 1px solid #ccc !important;

				.select-icon {
					.select-icon-inner {
						color: var(--primary);
					}
				}
			}
		}
		&.item-has-focus{
			box-shadow: none !important;
			border:none !important;
			ion-label{
				--color: var(--gray) !important;
			}
	   }

	}

	ion-row {
		margin: 0 -5px;
	}
}

// .alert-wrapper{
// 	--background: var(--primary) !important;
// 	.alert-head{
// 		h2{
// 			color: var(--white)!important;
// 		}
// 	}
// 	.alert-radio-group{
// 	.alert-radio-label{
// 		color: var(--white)!important;
// 	}
// 	}
// }


ion-modal {
	// --background: var(--transparent)!important;

	--background: rgba(0, 0, 1, 0.267) !important;
}

html[dir="rtl"] {
	.d-flex .end {
		margin-left: 0;
		margin-right: auto;
	}

	ion-header ion-toolbar ion-buttons .button-inner ion-icon {
		padding-left: 0px !important;
		padding-right: 10px;
	}

	app-my-orders ion-list ion-item .containet .restro_detail .img_box {
		margin-right: 0px !important;
		margin-left: 16px;
	}

	ion-list .banner ion-icon {
		right: unset !important;
		left: 38px !important;
	}

	app-home {
		ion-header {
			.banner .scroll_container {
				.item_srcoll {
					&:first-child {
						margin-left: 7px !important;
						margin-right: 15px !important;
					}

					&:last-child {
						margin-right: 7px !important;
						margin-left: 15px !important;
					}
				}
			}

			.food_category {
				.food_type {
					&:first-child {
						margin-left: 15px !important;
						margin-right: 20px !important;
					}

					&:last-child {
						margin-right: 15px !important;
						margin-left: 20px !important;
					}
				}
			}
		}


		ion-content.bg_img ion-list {
			h2 {
				padding-left: 0px !important;
				padding-right: 20px !important;

				span.end {
					border-radius: 0px 50px 50px 0px !important;
				}
			}

			ion-item .containet .restro_detail .img_box {
				margin-right: 0px !important;
				margin-left: 16px !important;
			}
		}
	}

	app-restro-info {
		.banner .restaurants_details .restro_info {
			.name_img .img_box {
				margin-right: 0 !important;
				margin-left: 16px !important;
			}

			.rating_box {
				ion-badge {
					margin-right: 0 !important;
					margin-left: 16px !important;
				}
			}
		}

		.what_people_says ion-list ion-item .containet .person_detail .img_box {
			margin-right: 0 !important;
			margin-left: 16px !important;
		}

	}

	app-items {
		ion-list ion-card h2 span ion-icon {
			margin-right: 10px !important;
			margin-left: 0px !important;
		}
	}

	app-order-info {
		ion-list ion-item .containet .restro_detail .img_box {
			margin-right: 0 !important;
			margin-left: 16px !important;
		}
	}

	app-restaurants {
		ion-list ion-item .containet .restro_detail .img_box {
			margin-right: 0 !important;
			margin-left: 16px !important;
		}
	}

	app-map-view {
		ion-header .food_category .food_type {
			&:first-child {
				margin-left: 5px !important;
				margin-right: 20px !important;
			}

			&:last-child {
				margin-left: 20px !important;
				margin-right: 5px !important;
			}
		}

		ion-footer ion-list ion-item .containet .restro_detail .img_box {
			margin-right: 0 !important;
			margin-left: 16px !important;
		}
	}

}