<ion-header >
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			<span class="end ion-float-end">
				New York
				<ion-icon text-end class="zmdi zmdi-pin"></ion-icon>
			</span> 
		</ion-title>
	</ion-toolbar>
	<div class="banner">
		<div class="scroll_container">
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_1.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2>
					<p>Get The Deal >></p>
				</div>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_2.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2>
					<p>Get The Deal >></p>
				</div>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_1.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2>
					<p>Get The Deal >></p>
				</div>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_2.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2>
					<p>Get The Deal >></p>
				</div>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_1.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2>
					<p>Get The Deal >></p>
				</div>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_2.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2>
					<p>Get The Deal >></p>
				</div>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_1.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2>
					<p>Get The Deal >></p>
				</div>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/img/banner_img_2.png" class="crop_img">
				</div>
				<div class="text_box" text-end>
					<h2>New<br>Flavors<br>Added</h2> 
					<p>Get The Deal >></p>
				</div>
			</div>
		</div>
	</div>

	<div class="search_box d-flex">
		<ion-icon class="zmdi zmdi-search" text-center></ion-icon>
		<ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="What'd you like to eat today?"></ion-searchbar>
		<ion-icon class="zmdi zmdi-tune" text-center (click)="filter()"></ion-icon>
	</div>

	<div class="food_category">
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_veg.png">
			<p>Diet Food</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_chinese.png">
			<p>Chiness</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_pizza.png">
			<p>Italian</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_fish.png">
			<p>See Food</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_icecream.png">
			<p>Ice Cream</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_veg.png">
			<p>Diet Food</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_chinese.png">
			<p>Chiness</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_pizza.png">
			<p>Italian</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_fish.png">
			<p>See Food</p>
		</div>
		<div class="food_type" (click)="goTorestaurants()">
			<img src="assets/img/ic_icecream.png">
			<p>Ice Cream</p>
		</div>

	</div>
</ion-header>

<ion-content class="bg_img">

	<ion-list lines="none">
		<h2 class="d-flex">Restaurants Near you <span class="end" (click)="map()">View in map</span></h2>
		<ion-item (click)="restroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_1.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Marine Rise Restaurant</h3>
						<h4 class="d-flex">
							<ion-badge color="primary">4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>

							198 Poeple rated
						</h4>
					</div>
				</div>

				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="restroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_5.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Silver Leaf Resto</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>

		<ion-item (click)="restroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_2.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Johnson Food</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item> 


		<ion-item (click)="restroDetails()">
			<div class="containet">
				<div class="restro_detail d-flex">
					<div class="img_box center_img">
						<img src="assets/img/restro_3.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>Lepord cafe</h3>
						<h4 class="d-flex">
							<ion-badge>4.3 <ion-icon class="zmdi zmdi-star" text-end></ion-icon>
							</ion-badge>
							198 Poeple rated
						</h4>
					</div>

				</div>
				<div class="restro_address">
					<p class="d-flex">
						<ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
						<span>1124, Old Church Street, New York, USA</span>
						<ion-icon class="zmdi zmdi-navigation" text-end></ion-icon>
					</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
	
	
</ion-content>