ion-header {
	background: var(--primary);
	padding-bottom: 18px;

	ion-toolbar {
		ion-buttons ion-menu-button {
			//padding: 0 10px;
		}

		ion-title .end {
			display: flex;
			align-items: center;
			font-size: 1.15rem;

			ion-icon {
				color: var(--secondary);
				font-size: 1.8rem;
				min-width: 34px;
			}
		}
	}

	.banner {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;

		.scroll_container {
			width: 100%;
			overflow-x: scroll;
			white-space: nowrap;

			.item_srcoll {
				display: inline-block;
				width: 310px;
				height: 180px;
				border-radius: 5px;
				position: relative;
				overflow: hidden;
				margin: 0 7px;

				.img_box {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

				.text_box {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 99;
					width: 100%;
					height: 100%;
					color: var(--white);
					overflow: hidden;
					padding: 19px 17px;

					h2 {
						margin: 0;
						font-size: 1.55rem;
						font-weight: 700;
						text-transform: uppercase;
						margin-bottom: 22px;
						min-height: 91px;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
					}

					p {
						margin: 0;
						font-size: .8rem;
						font-weight: 700;
						text-transform: uppercase;
					}

				}

				&:first-child {
					margin-left: 15px;
				}

				&:last-child {
					margin-right: 15px;
				}

			}
		}
	}

	.search_box {
		background: var(--bg-light);
		width: calc(100% - 35px);
		margin: 0 auto;
		border-radius: 50px;
		padding: 0 10px;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;

		ion-icon {
			color: var(--primary);
			font-size: 1.9rem;
			min-width: 40px;
			position: absolute;
			left: 0;
			min-width: 59px;
			height: 60px;
			line-height: 60px;
			z-index: 99;

			&.zmdi-tune {
				color: var(--text-light);
				font-size: 1.3rem;
				left: unset;
				right: 0;
				z-index: 99;
			}
		}

		ion-searchbar {
			padding: 0 30px 0 10px !important;
			--background: var(--transparent) !important;
			font-weight: 500;
			--font-size: .9rem !important;
			--font-weight: 500 !important;
			--color: var(--text-light);
			--placeholder-opacity: 1;
			--placeholder-font-weight: 400 !important;
			--box-shadow: none !important; 
			
			
			.searchbar-input-container {
				input{
					font-size: .8rem !important;
					font-weight: 500 !important;
					--box-shadow: none !important;

					&.sc-ion-searchbar-md {
						-webkit-padding-start: 0 !important;
						padding-inline-start: 0 !important;
						-webkit-padding-end: 0 !important;
						padding-inline-end: 0 !important;
						--box-shadow: none !important;
					}
				}
			}

		}

	}

	.food_category {
		width: 100%;
		overflow-x: scroll;
		white-space: nowrap;


		.food_type {
			display: inline-block;
			margin: 0 15px;

			img {
				width: 37px;
				margin: 0 auto;
				display: block;
				margin-bottom: 13px;
			}

			p {
				margin: 0;
				color: var(--white);
				text-align: center;
				font-weight: 500;
				font-size: .8rem;
			}

			&:first-child {
				margin-left: 20px;
			}

			&:last-child {
				margin-right: 20px;
			}
		}
	}
}

ion-content.bg_img {
	--background: url(/assets/img/bg.png) 0 0/100% 100% no-repeat;

ion-list {
		background: var(--transparent) !important;
		padding-top: 10px;
		margin-bottom: 0;
		margin-bottom: 16px;

		h2 {
			font-size: 1rem;
			color: var(--primary-text);
			margin: 0;
			margin-bottom: 20px;
			padding-left: 20px;

			span {
				&.end {
					background: var(--secondary);
					color: var(--primary) !important;
					border-radius: 50px 0 0 50px;
					line-height: 40px;
					height: 40px;
					min-width: 115px;
					text-align: center;
					font-weight: 500;
				}
			}
		}

		ion-item {
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			min-height: unset;
			--padding-start: 0;
			--background: var(--transparent);
			width: calc(100% - 30px);
			margin: 0 auto;
			overflow: hidden;
			border-radius: 9px;
			margin-bottom: 15px;

			.containet {
				width: 100%;
				position: relative;
				overflow: hidden;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--dark);
					opacity: .8;

				}

				.restro_detail {
					background: var(--white);
					width: 100%;
					position: relative;
					overflow-x: 99;
					border-radius: 9px;
					padding: 13px;

					.img_box {
						min-width: 55px;
						height: 55px;
						border-radius: 5px;
						margin-right: 16px;
					}

					h3 {
						margin: 0;
						color: var(--text-dark);
						font-size: 1.15rem;
						font-weight: 600;
						margin-bottom: 8px;
					}

					h4 {
						margin: 0 -10px;
						color: var(--text-light);
						font-size: .8rem;
						font-weight: 300;

						ion-badge {
							background: var(--green_color);
							color: var(--white);
							padding: 0;
							text-align: center;
							min-width: 53px;
							height: 25px;
							border-radius: 50px;
							line-height: 25px;
							font-weight: 400;
							font-size: .8rem;
							margin: 0 10px;


							ion-icon {
								position: relative;
								top: 2px;
								min-width: 12px;
							}
						}
					}
				}

				.restro_address {
					position: relative;
					z-index: 99;
					padding: 9px 14px;
					width: 100%;

					p {
						margin: 0;
						color: var(--white);
						font-size: .9rem;
						font-weight: 400;

						ion-icon {
							color: var(--secondary);
							font-size: 1.2rem;
							min-width: 22px;

						}

						span {
							opacity: .6;
							min-width: calc(100% - 45px);
							white-space: nowrap;
							display: block;
							overflow: hidden;
							text-overflow: ellipsis;

						}
					}
				}
			}
		}
	}
}