<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start" class="dark_icon">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img"  fullscreen>
	<ion-list lines="none">
		<div class="banner">
			<div class="map">
				<img src="assets/img/map.png">
			</div>
			<ion-icon class="zmdi zmdi-navigation ion-text-center"></ion-icon>
			<ion-card>
				<h2>We're here</h2>
				<p>105, Sliver Perl Housings, Golden Tower<br> Near City Part, Washington DC, <br> United States of America</p>
			</ion-card>
		</div>
		<ion-card>
			<h2>Contact us</h2>
			<div class="contacts d-flex">
				<div class="text_box">
					<h3>Call us</h3>
					<p>+1 987 654 3210</p>
				</div>
				<ion-icon class="zmdi zmdi-phone end ion-text-center"></ion-icon>
			</div>

			<div class="contacts d-flex">
				<div class="text_box">
					<h3>Mail us</h3>
					<p>help@foodmart.com</p>
				</div>
				<ion-icon class="zmdi zmdi-email end ion-text-center"></ion-icon>
			</div>
		</ion-card>

		<ion-card class="form">
			<h2>Wrire us</h2>
			<ion-item>
				<ion-textarea  rows="1" placeholder="Write your message or feedback"></ion-textarea>
			</ion-item>
			<ion-button expand="full" no class="btn ion-text-uppercase ion-no-margin">
				Submit
			</ion-button>
		</ion-card>
	</ion-list>
</ion-content>