ion-content.bg_img {
	--background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
	--padding: 0 !important;
	--padding-top: 0 !important;
}

ion-list {
	background: var(--transparent) !important;
	padding: 0;
	margin: 0;
	position: relative;

	.banner {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 413px;
		margin-bottom: 9px;

		.map {
			position: relative;
			overflow: hidden;
			width: 100%;
			max-height: 320px;
		}

		ion-icon {
			position: absolute;
			top: calc(100% - 139px);
			right: 38px;
			z-index: 999;
		}

		ion-card {
			position: absolute;
			bottom: 0;
			box-shadow: 0 9px 36px -3px rgba(0, 0, 0, 0.3);
			margin-bottom: 0 !important;
			left: 0;
			right: 0;
		}
	}

	ion-icon {
		color: var(--white);
		border-radius: 5px;
		min-width: 45px;
		height: 45px;
		max-width: 45px;
		//background: var(--secondary);
		background: #eed406;
		line-height: 45px;
		font-size: 1.3rem;
	}

	ion-card {
		background: var(--white);
		margin: 0 auto;
		margin-bottom: 9px;
		border-radius: 9px;
		width: calc(100% - 28px);
		padding: 22px 20px;


		h2 {
			margin: 0;
			color: var(--text-light);
			font-size: 1rem;
			font-weight: 500;
			margin-bottom: 10px;
		}

		p {
			margin: 0;
			color: var(--black);
			font-weight: 400;
			font-size: .9rem;
		}

		.contacts {
			margin-bottom: 15px;

			h3 {
				margin: 0;
				color: var(--text-dark);
				font-size: 1rem;
				font-weight: 700;
				margin-bottom: 5px;
			}

			&:last-child {
				margin: 0;
			}
		}

		&.form {
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;

			h2 {
				padding: 0 20px;
				margin-bottom: 11px;
			}

			ion-item {
				padding: 0;
				width: calc(100% - 40px);
				margin: 0 auto;
				margin-bottom: 20px;
				border-radius: 0;
				border-bottom: 1px solid var(--text-light) !important;
				//height: 26px;

				ion-textarea {
					border-bottom: none !important;
					font-size: .9rem !important;
					font-weight: 400;
					--padding-bottom: 0px !important;
					--padding-top: 15px !important;
				}
			}

			.button.btn {
				font-size: 1.15rem; 
				height: 60px;
			}
		}
	}

}